.background {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  margin: 0px 104px 24px;
  /* background-color: red; */
}

.title {
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 76px;
  color: #101217;
  align-self: center;
  margin: 80px 104px 60px;
}

.faq {
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 76px;
  color: #101217;
  align-self: center;
  margin: 80px 50px 60px;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 50%;
}

.leftInner {
  /* background-color: red; */
  margin-right: 32px;
}
.rightInner {
  /* background-color: red; */
  margin-left: 32px;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 50%;
}

.questionContainer {
  display: flex;
  /* background-color: red; */
  justify-content: space-between;
  margin-bottom: 8px;
}

.question {
  font-family: var(--font-noto);
  font-size: 20px;
  line-height: 27px;
}

.answer {
  font-family: var(--font-noto);
  border-bottom: 2px solid #e36c52;
  padding-bottom: 16px;
}

.link {
  color: #e36c52;
}

.hidden {
  display: none;
}

@media (min-width: 900px) {
  .faq {
    display: none;
  }
}

@media (max-width: 900px) {
  .title {
    display: none;
  }

  .container {
    margin: 0 60px 20px;
  }
}
@media (max-width: 768px) {
  .background {
    align-items: center;
  }
  .container {
    width: 100%;
    flex-direction: column;
    padding: 20px;
  }

  .leftInner {
    /* background-color: red; */
    margin-right: 0px;
  }
  .rightInner {
    /* background-color: red; */
    margin-left: 0px;
  }
}

@media (min-width: 1441px) {
  .container {
    margin: 0px 0px 20px;
  }
}
