.background {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  margin: 0px 104px 24px;
  /* background-color: red; */
}

.title {
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 76px;
  color: #101217;
  margin-top: 80px;
  margin-bottom: 60px;
  align-self: center;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 50%;
}

.leftInner {
  /* background-color: red; */
  margin-right: 32px;
}
.rightInner {
  /* background-color: red; */
  margin-left: 32px;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 50%;
}

.questionContainer {
  display: flex;
  /* background-color: red; */
  justify-content: space-between;
  margin-bottom: 8px;
}

.question {
  font-family: var(--font-noto);
  font-size: 20px;
  line-height: 27px;
}

.answer {
  font-family: var(--font-noto);
  font-size: 20px;
  line-height: 27px;
  width: 518px;
  border-bottom: 2px solid #e36c52;
  padding-bottom: 16px;
  margin-bottom: 24px;
}

.link {
  color: #e36c52;
}

.hidden {
  display: none;
}
