.landingPresents {
  max-width: 650px;
  background-color: #0056a5;
  box-shadow: 20px 20px 0px 0px #3a9def;
  box-shadow: 0px 4px 40px 0px #000000 8%;
  border-radius: 15px;
  font-family: "Noto Sans", sans-serif;
}
.presentsContainer {
  padding: 30px 100px 30px 50px;
}

.aboutContainer {
  padding: 50px 50px 70px 50px;
  text-align: center;
}

.landingAbout {
  background-color: #0056a5;
  border-radius: 15px;
  max-width: 550px;
}

.aboutHeading {
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  opacity: 80%;
  letter-spacing: 2px;
  margin-top: 30px;
}

.aboutDescription {
  font-size: 24px;
}

.landingRegister {
  background-color: #000f1e;
  border-radius: 15px;
  max-width: 650px;
  box-shadow: 0px 4px 4px 0px #000000 25%;
  box-shadow: 10px 10px 0px 0px #0056a5;
  height: 85px;
  position: relative;
}

.registerContainer {
  font-size: 24px;
  text-align: center;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.presentsHeader {
  font-size: 20px;
  letter-spacing: 0.15em;
}

.presentsCreateRU {
  font-size: 96px;
  font-family: "Secular One", sans-serif;
  letter-spacing: 0.08em;
}

.presentsDescription {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin: 5px 0px;
  line-height: 40px;
}

@media (max-width: 1366px) {
  .landingPresents {
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .landingPresents {
    margin-bottom: 40px;
  }
  .presentsContainer {
    padding: 20px;
  }

  .presentsHeader {
    font-size: 16px;
    letter-spacing: 0.15em;
  }

  .presentsCreateRU {
    font-size: 48px;
    letter-spacing: 0.08em;
    margin: 0px;
  }

  .presentsDescription {
    font-size: 16px;
    line-height: 25px;
  }

  .aboutHeading {
    font-size: 15px;
    margin-top: 15px;
  }

  .aboutDescription {
    font-size: 18px;
  }

  .aboutContainer {
    padding: 20px 30px 20px 30px;
  }

  .landingAbout {
    max-width: 310px;
  }
}
