html,
body {
  padding: 0;
  margin: 0;
  font-family: "Secular One", sans-serif;
  color: #ffffff;
  background-image: url("/images/background.jpg");
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 15%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
